# Backend
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5000

# Database
POSTGRES_USER=systemcontrol_user
POSTGRES_PASSWORD=systemcontrol_pass
POSTGRES_DB=systemcontrol_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# JWT
JWT_KEY=super_secret_jwt_key
JWT_ISSUER=systemcontrol
JWT_AUDIENCE=systemcontrol_clients
